/* Style for the website*/

header {
  background-color: #9ebdd0;
  font-family: Futura, sans-serif;
  border: 1px solid #000;
}
h1 {
  color: white;
  padding: 60px 0 20px 20px;
  margin: 0;
  float: left;
  font-family: Futura, serif;
}
h2 {
  font-size: 30px;
  font-family: Futura, serif;

}

.header-title {
  text-align: left;
  font-family: Futura, serif;
  font-size: 50px;
}

nav {
  font-family: Futura, sans-serif;
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 5px 0 0;
  width: 50%;
  float: right;
  color: #fff;
  text-align: right;
}
/*honestly, this next section was copied and I don't fully understand it yet, but this made it look better*/
header:after, 
nav:after {
  content: " ";
  display: table;
  clear: both;
}  
/*how to get the center to align and account for the bullets also?*/
ul {
  list-style-position: inside;
  text-align: center;
}

a {
  font-family: Futura, sans-serif;
  font-size: 20px;
}

a:link    { color: darkslateblue;  }
a:visited { color: #660000;  }
a:hover   { color: blue; }
a:active  { color: #cc0000;  }


body {
  text-align: center;
  font-family: Futura, sans-serif;
  background-color: #f8f8fa;
}

footer {
  font-family: Futura, sans-serif;
  background-color: #9ebdd0;
  border: 1px solid #000;
}

.footer-text {
  font-size: 20px;
}
